.container {
  padding: 0px 15px 0px 15px;
}
/* media */
@media (min-width: 0) {

  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* body */
body{
  width: 100%;
  height: 100%;
  background: url("images/try_2.jpg") , repeat-y ;
}
/* name project */
.zwa-name{
  text-align: center;
  margin: 0%;
  padding-right: 300px;

}a {
  text-decoration: none;
  color: aliceblue;
}
a:hover, a :focus {
  color: aliceblue;
}
/* list beautyfull */
.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
}
.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
}

.menu-left a:hover:before {
  width: 100%;
  background: rgb(156, 126, 156);
  transition: width .35s ease;
}
.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
/* header css */
header {
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 0;
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  background: url("images/picture_header.jpg") repeat-y;
  font-family: Arial, Helvetica, sans-serif;
}
/* logo css */
.logo{
  text-align:left;
  width: 50px;
  height: 50px;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: right;
  color: aliceblue;
}
header nav ul li {
  float: none;
  margin-left: 0;
}
/* media */
@media (min-width: 768px) {
  header nav ul li {
    float: left;
    margin-left: 1rem;
  }
}
header nav ul li a {
  display: block;
  color: aliceblue;
}
@media (min-width: 576px) {
  header nav ul li a {
    font-weight:bold;
    display: block;
    text-align:center;
    padding-top: 10px;
    padding-right: 50px;
    color: aliceblue;
  }
}

