/* index css */

.recommend-bar{
    padding-right: 5%;
    padding-left: 15%;
    padding-bottom: 0%;
}
.recommend-services{
    color:aliceblue;
    background: url("images/picture-section-one.jpg") repeat-x;
    width: 100%;
    min-height: 200px;
    left:0;
    right:0;
}
/* films css */
.recommend-list{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    margin: auto;
}





/* list film css */
.films-list{
    align-items: left;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:0px;
    display: inline-block;
    font-size: 22px;
    min-height: 500px;
    width: 400px;
    border-style: groove;
    text-decoration: none;
    text-transform: none;
    margin: auto;
}

/* all films in index page*/
.most-popular-films{
    color:aliceblue;
    margin: auto;
    background: url("images/picture-section-one.jpg") repeat-x;
    width: 100%;
    min-height: 1200px;
    left:0;
    right:0;
}

/* for some images css */
.movies-bar{
    padding-right: 9%;
    padding-left: 10%;
    padding-bottom: 0%;
    margin: auto;
}
.img_logo{
    width: 65px;
    height: 65px;
}

.h1-name-section{
    padding-top: 50px;
    text-align: center;
}

.img_ex{
    float: left;
    width: 200px;
    height: 300px;
}
.img_full{
    float: left;
    width: 400px;
    height: 600px;
}



/* p css */
.text-p-ex{
    float:right;
}

.p-info{
    padding-left: 20px;
    width: 170px;
    height: 300px;
    display: inline-block;
    font-size: 18px;
}

  
.box-2 { background-color: #3C3C3C; }
  
.btn {
    position:absolute;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

/* list css */
.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
}
.btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
}

  




