
#btn-prev, #btn-next
{
    position: absolute;
    left: 0%;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #5f5f5f;
    opacity: 0.1;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
}
#btn-prev:hover, #btn-next:hover
{
    opacity: 0.6;
}
#btn-next
{
    left: auto;
    right: 0;
}
.container-b {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container-b .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-b .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}

.container-b .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container-b .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container-b .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container-b .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container-b .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container-b .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container-b .btn:nth-child(1)::before, /*chnage 1*/
.container-b .btn:nth-child(1)::after {
	background: #1DA1F2;
	box-shadow: 0 0 5px #1DA1F2, 0 0 15px #1DA1F2, 0 0 30px #1DA1F2,
		0 0 60px #1DA1F2;
}
.container-b .btn:nth-child(2)::before, /* 2*/
.container-b .btn:nth-child(2)::after {
	background: #9d2dff;
	box-shadow: 0 0 5px #9d2dff, 0 0 15px #9d2dff, 0 0 30px #9d2dff,
		0 0 60px #9d2dff;
}
.container-b .btn:nth-child(3)::before, /* 3*/
.container-b .btn:nth-child(3)::after {
	background: #2ec57e;
	box-shadow: 0 0 5px #2ec57e, 0 0 15px #2ec57e, 0 0 30px #2ec57e,
		0 0 60px #2ec57e;
}
.container-b .btn:nth-child(4)::before, /* 3*/
.container-b .btn:nth-child(4)::after {
	background: #bd3682;
	box-shadow: 0 0 5px #bd3682, 0 0 15px #bd3682, 0 0 30px #bd3682,
		0 0 60px #bd3682;
}