.center {
    text-align: center;
}

.pagination {
    display: inline-block;
    text-align: center;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: rgb(204, 123, 123);}



.list-films{
    padding-top: 20px;
    color:aliceblue;
    margin: auto;
    background: url("picture-section-one.jpg") repeat-y;
    width: 100%;
    min-height: 2200px;
    left:0;
    right:0;
}